{% capture warning %}  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
  {% endcapture %}

{% capture danger %}  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Danger!</h4>
  {% endcapture %}

{% capture success %}  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Success!</h4>
  {% endcapture %}

  {% capture info %}  <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Heads up!</h4>
    {% endcapture %}
